@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap");

.App {
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
}

:root {
    --background-color: #071407;
    --foreground-color: #ffffff;
    --fade-time: 0.3s;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.tracksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 75vw;
    position: absolute;
    left: 12.5%;
}

.track {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

a {
    text-decoration: none;
    color: var(--foreground-color);
    background-color: var(--background-color);
    -moz-transition: all var(--fade-time) ease-in;
    -o-transition: all var(--fade-time) ease-in;
    -webkit-transition: all var(--fade-time) ease-in;
    transition: all var(--fade-time) ease-in;
    font-size: calc(5px + 2vmin);
    padding: 15px;
}

a:hover {
    color: var(--background-color);
    background-color: var(--foreground-color);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
