@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://use.typekit.net/pwa7guy.css");

:root {
    --background-color: #000000;
    --secondary-background-color: #0f0f0f;
    --foreground-color: #ffffff;
    --secondary-foreground-color: #d4d4d4;
    --fade-time: 0.3s;
    --font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: var(--font-family);
    font-weight: 700;
}

.App {
    font-family: var(----font-family);
    text-align: center;
}

.App-header {
    font-family: var(----font-family);
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    padding: 0px;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.Main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 120vw;
}

.track {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 175px;
}

.trackImg {
    border: 2px solid var(--secondary-foreground-color);
    border-radius: 5px;
}

.artist {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 175px;
}

.artistImg {
    border: 2px solid var(--secondary-foreground-color);
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: calc(10px + 0.5vmin);
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    border-radius: 5px;
}

@media (hover: hover) and (pointer: fine) {
    .link:hover {
        color: var(--background-color);
        background-color: var(--foreground-color);
    }
}

.buttons {
    padding-bottom: 15px;
    border: 2px solid var(--foreground-color);
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px;
    background: var(--secondary-background-color);
    max-width: 75vw;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.loginButton {
    background-color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 15px;
    color: var(--secondary-background-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(50px + 0.5vmin);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (hover: hover) and (pointer: fine) {
    .loginButton:hover {
        background-color: var(--background-color);
        border: 2px solid var(--foreground-color);
        color: var(--foreground-color);
        cursor: pointer;
    }
}

.generateButton {
    background-color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 15px;
    color: var(--secondary-background-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(35px + 0.5vmin);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}
@media (hover: hover) and (pointer: fine) {
    .generateButton:hover {
        background-color: var(--background-color);
        border: 2px solid var(--foreground-color);
        color: var(--foreground-color);
        cursor: pointer;
    }
}

.hideButton {
    background-color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 15px;
    color: var(--secondary-background-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(35px + 0.5vmin);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}
@media (hover: hover) and (pointer: fine) {
    .hideButton:hover {
        background-color: var(--background-color);
        border: 2px solid var(--foreground-color);
        color: var(--foreground-color);
        cursor: pointer;
    }
}

.downloadButton {
    background-color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 15px;
    color: var(--secondary-background-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(20px + 0.5vmin);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    margin-bottom: 25px;
}
@media (hover: hover) and (pointer: fine) {
    .downloadButton:hover {
        background-color: var(--background-color);
        border: 2px solid var(--foreground-color);
        color: var(--foreground-color);
        cursor: pointer;
    }
}

#imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    overflow: hidden;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#imageControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imageControls h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(20px + 0.5vmin);
}

#colourPicker {
    height: 27.5vh;
    border-radius: 10px;
}

.ReactColorPicker-module_hex_value__iYcr2 {
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(9.5px + 0.5vmin);
    padding: 5px;
}

.HueSlider-module_hue_slider__elLB5 {
    border-radius: 5px;
    border: 2px solid #ffffff;
    overflow: hidden;
}

.SaturationValueSelector-module_saturation_value_selector__DwmP7 {
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.ReactColorPicker-module_react_color_picker__8cFXI .ReactColorPicker-module_details__mF5Se .ReactColorPicker-module_swatch__BXxTS {
    display: none;
}

span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(15px + 0.5vmin);
    align-self: center;
}

canvas {
    position: relative;
    max-width: 90%;
    width: 0%;
}

#canvasDisplay {
    height: 80vh;
    /* border-radius: 20px; */
}

.selection {
    flex-grow: 1;
    background-color: var(--secondary-background-color);
    border: 2px solid var(--foreground-color);
    border-radius: 30px;
    color: var(--foreground-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(20px + 0.5vmin);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}
@media (hover: hover) and (pointer: fine) {
    .selection:hover {
        background-color: var(--foreground-color);
        color: var(--secondary-background-color);
        cursor: pointer;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--foreground-color);
    border-radius: 10px;
    border: 0px double var(--foreground-color);
}

.transition-1s {
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: 1s ease-in;
    transition: all 1s ease-in;
}

.transition-0-3s {
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.transition-0-1s {
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
